!!!
%html
  %head
    - @site = "KC Ruby"
    - @separator = "|"
    %title= "#{@site} #{@separator} #{@title || "Kansas City's Ruby Community"}"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{'name' => 'description', :content => 'The Kansas City Ruby Community'}    
    %meta{"name" => "viewport", :content => "width=930"}
    %meta{'name' => 'keywords', :content => 'Kansas City, KC, Rails, Ruby, Ruby on Rails, Community, kcrug'}
    %link{href:'/images/application/favicon.png', rel: 'shortcut icon'}
    %link{href:"/stylesheets/application.css?1392256453", media:"screen", rel:"stylesheet", type:"text/css" }
    %script{src:"/javascripts/prototype.js?1392256453", type:"text/javascript" }
    %script{src:"/javascripts/effects.js?1392256453", type:"text/javascript" }
    %script{src:"/javascripts/dragdrop.js?1392256453", type:"text/javascript" }
    %script{src:"/javascripts/controls.js?1392256453", type:"text/javascript" }
    %script{src:"/javascripts/rails.js?1392256453", type:"text/javascript" }
    %script{src:"/javascripts/application.js?1392256453", type:"text/javascript" }
    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body
    #page_container
      #page_box
        = render :partial => "layouts/header"
        #page
          #title
            ="#{@title}"
          = yield
        =render :partial => "layouts/footer"
